/* app/assets/stylesheets/components.css */
@layer components {

  .student-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .student-list__item:first-child {
    border-top: 1px solid var(--color-border, #e0e0e0);  
  }

  .student-list__link:hover {
    background-color: color-mix(var(--color-background), black 10%);
    color: black;
  }

  .student-list__link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid var(--color-border, #e0e0e0);
    gap: 1rem;
  }

  .student-list__name {
    /* font-size: var(--text-lg); */
    font-weight: var(--fw-bold);
    line-height: var(--space-1);
    margin: 0;
  }

  .student-list__contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;

    /* gap: 1.5rem; */
  }  
}